[Unit]
Description=My Web App Docker Container
Requires=docker.service
After=docker.service network.target

[Service]
EnvironmentFile=/etc/default/mywebapp
Restart=always
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker stop mywebapp
ExecStartPre=-/usr/bin/docker rm mywebapp
ExecStart=/usr/bin/docker run --name mywebapp -p 8080:5200 $IMAGE
ExecStop=/usr/bin/docker stop mywebapp

[Install]
WantedBy=multi-user.target
